{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="/js/pages/TasksPage.js"></script>
{% endblock %}

{% block body %}

    <div class="ui grid"></div> {# for correct padding #}

    <div class="ui three column doubling stackable grid container" id="tasks-placeholder">

        {% for i in 0..2 %}

            <div class="column">
                <div class="ui segment task-list-container">

                    <div class="ui placeholder">
                        <div class="header">
                            <div class="line"></div>
                        </div>
                    </div>

                    <div class="ui active tiny indicating progress">
                        <div class="bar">
                        </div>
                    </div>

                    <div class="ui middle aligned relaxed selection divided list">
                        {% for i in 0..2 %}
                            <div class="ui placeholder">
                                <div class="image header">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div>
                        <button class="fluid ui disabled button"><i class="plus icon"></i>{% trans %}ui.add_task{% endtrans %}</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="ui three column doubling stackable grid container" id="tasks-list" style="display: none"></div>

    {% include 'site/modals/task-card.html.twig' %}
    {% include 'site/modals/task-create.html.twig' %}

    {% include 'site/frontend-templates/tasks.group.html.twig' %}
    {% include 'site/frontend-templates/tasks.group.item.html.twig' %}

    <script>
        const tasksPage = new TasksPage();
        $(document).ready(() => {
            tasksPage.onReady()

        })
    </script>

{% endblock %}
