<div class="frontend-template" id="tpl-tasks-group-item">
    <div class="item task task-status-[status]" data-task-id="[id]">
        <i class="icon big"></i>
        <div class="content">
            <div class="header">[title]</div>
            <div class="description">[description]</div>
        </div>
    </div>
</div>