<div class="ui tiny modal" id="modal-task">
    <div class="header">Read book</div>
    <div class="content">
        <p>Read at least one chapter of "Clean Architecture"</p>
    </div>
    <div class="actions">
        <div class="ui right labeled icon button close-modal">
            Edit
            <i class="edit icon"></i>
        </div>
        <div class="ui positive right labeled icon button">
            Done
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>