<div class="ui tiny modal" id="modal-task-card">
    <div class="header" id="title">Read book</div>
    <div class="content">
        <p id="description">Read at least one chapter of "Clean Architecture"</p>
    </div>
    <div class="actions">
        <div class="ui green right labeled icon button change-status-button" data-status="done">
            Done
            <i class="checkmark icon"></i>
        </div>
        <div class="ui red right labeled icon button change-status-button" data-status="failed">
            Failed
            <i class="x icon"></i>
        </div>
        <div class="ui button close-modal">
            Cancel
        </div>
    </div>
</div>